// Colors
$color-primary: #a3be15fe;
$color-primary-light: #ceea20ec;
$color-primary-dark: #8b9115f3;
$color-primary-listings-background: #f4ffb0ec;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: rgb(168, 168, 168);

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-grey: #eee;

// // FONT
$default-font-size: 1.6rem;
$default-font-weight: 400;
$font-weight-bold: 700;
