header {
  border-bottom: 0.1rem solid rgba(197, 197, 197, 0.3);
  padding-bottom: 1rem;
}

.sidebar {
  position: absolute;
  width: 20%;
  height: 100vh;
  top: 0rem;
  left: 0;
  overflow: hidden;
  //box-shadow: rgba(0, 0, 0, 0.5) 0px 13px 18px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);

  &__logo {
    padding-top: 1rem;
  }

  &__search {
    margin: 1.5rem;
    padding: 1rem;
    width: 90%;
    border: 1px solid $color-primary-light;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 3px 8px;
    font-size: 1rem;
    pointer-events: none; // Serch field blocker
  }

  &__listings {
    height: 60%;
    overflow: auto;
    padding-bottom: 10rem;
    padding-left: 10px;
    border-bottom: 1px solid $color-grey-light-2;

    &__item {
      position: relative;
      border-bottom: 1px solid #eee;
      padding: 10px;
      text-decoration: none;

      &--click::after {
        position: absolute;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: ' ';
      }

      &__title {
        display: block;
        color: $color-primary-dark;
        font-weight: 700;

        &:hover {
          color: $color-primary-dark;
          transition: background-color 0.2s;
        }
      }

      &.active {
        background-color: $color-primary-light;
      }
    }

    &__item:hover {
      background-color: $color-primary-listings-background;
    }

    &__item:last-child {
      border-bottom: none;
    }
  }

  &__sort {
    font-size: 1.6rem;
    color: $color-grey-light-2;
  }
}

header {
  border-bottom: 0.1rem solid rgba(197, 197, 197, 0.3);
  padding-bottom: 1rem;
}

footer {
  font-size: 1rem;
  margin: 1.5rem;
  color: $color-grey-light-2;
}
// Currently not working placeholder
::placeholder {
  color: rgba(0, 0, 0, 0.432);
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 3px;
  border-left: 0;
  box-shadow: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: $color-primary-dark;
  border-radius: 0;
}
