.container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: 'sidebar map';
}

.sidebar {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-area: sidebar;
  grid-template-areas:
    'sidebar__header'
    'sidebar__search'
    'sidebar__listningse'
    'sidebar__sort'
    'sidebar__footer';

  position: absolute;
  width: 20%;
  // height: 80%;
  overflow: hidden;
  //box-shadow: rgba(0, 0, 0, 0.5) 0px 13px 18px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);

  &__header {
    padding-top: 1rem;
    grid-area: sidebar__header;
    height: 15vh;
  }

  &__search {
    grid-area: sidebar__search;
    margin-left: 1rem;
    width: 100%;
    height: 10vh;

    &--input {
      padding: 1rem;
      width: 90%;
      border: 1px solid $color-primary-light;
      box-shadow: rgba(0, 0, 0, 0.1) 5px 3px 8px;
      font-size: 1rem;
      pointer-events: none; // Serch field blocker
    }
  }

  &__listing{

    &__describe{
      
    }
  }
  &__listings__box {
    grid-area: sidebar__listningse;
    height: 60vh;
  }
  &__listings {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: auto;
    //padding-bottom: 10rem;

    border-bottom: 1px solid $color-grey-light-2;

    &__item {
      position: relative;
      border-bottom: 1px solid #eee;
      padding: 10px;
      text-decoration: none;

      &--click::after {
        position: absolute;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: ' ';
      }

      &__title { 
        color: $color-primary-dark;
        font-weight: $font-weight-bold;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;


        &:hover {
          color: $color-primary-dark;
          transition: background-color 0.2s;
          
        }

      }

      &.active {
        background-color: $color-primary-light;
        pointer-events: none;
        padding-left: 2rem;
        
        a {
          color:$color-grey-dark-3;
        }
      }
      
    }

    &__item:hover {
      background-color: $color-primary-listings-background;
    }

    &__item:last-child {
      border-bottom: none;
    }
  }

  
  &__sort {
    justify-self: center;
    height: 5vh;
    font-size: 1.6rem;
    color: $color-grey-light-2;
    grid-area: sidebar__sort;
    margin-top: 5vh;
  }
  &__footer {
    justify-self: center;
    height: 5vh;
    grid-area: sidebar__footer;
  }
}

// Currently not working placeholder
::placeholder {
  color: rgba(0, 0, 0, 0.432);
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  border-left: 0;
  box-shadow: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: $color-primary-dark;
  border-radius: 0;
}
