.mapboxgl-popup {
  &-close-button {
    display: visible;
    font-size: 3rem;
    border: none;
    margin: -3rem;
    text-decoration: none;
  }

  &-content {
    font-size: $default-font-size;
    width: -moz-max-content; /* Firefox */
    width: -webkit-max-content; /* Chrome */
    width: max-content;

    h4 {
      font-size: $default-font-size;
      font-weight: $default-font-weight;
      margin-left: 10px;
      font-style: italic;
      text-align: center;
    }

    p {
      font-size: 1.2rem;
      margin-left: 10px;
    }

    div {
      font-weight: $default-font-weight;
    }
  }

  &-anchor-top > .mapboxgl-popup-content {
    margin-left: -15px;
  }

  &-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: black;
  }
}
