h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  // padding: 20px 2px;
}

a {
  text-decoration: none;
}

// a:hover {
//   color: #101010;
// }

.sidebar__listing__describe {
  font-size: 1.2rem;
}

ul {
  list-style: none;
}
