* {
  box-sizing: border-box;
}

body {
  color: #404040;
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 32rem auto;
  @include respond(hide-sidebar) {
    grid-template-columns: 0 auto;
  }
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: 'sidebar map';
  //width: 100vw;
  justify-content: stretch;
}